$black: #000000
$white: #ffffff
$ink: rgba(6,47,79,1)
$posy: rgba(129,55,114, 1)
$embers: rgba(184,38,1, 1)

$dancingFont: 'Dancing Script', cursive
$EBFont: 'EB Garamond', serif

@import 'style2'
@import 'style3'
@import 'style4'

.index1
  body
    margin: 0px
    background-color: #f2eee2
    color: #00c4ff
    text-align: center
    position: fixed
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    .Buttons
      align-self: center
      margin: 0px
      padding: 0px
      list-style-type: none
      li.key
        background-color: #f81884
        padding: 8px 16px
        border-radius: 2px
        display: inline-block
        margin: 8px 18px
        text-align: center
        transition: all 0.1s
        kbd
          font-family: 'Plaster', cursive
          color: white
          text-transform: uppercase
          display: block
          clear: both
          padding: 8px 16px
          font-size: 24px
        span
          color: white

      li.key.playing
        background-color: #d4096b
        transform: scale(1.1)
