.index2
  body
    margin: 0px
    background-color: #ffffff
    text-align: center
    display: flex
    justify-content: center
    align-items: center

    .container
      align-self: center
      background-image: url(../img/floral-wallpaper1.jpg)
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      height: 600px
      width: 1000px
      display: flex
      margin: 0 auto
      border: 3px solid #001e17
      border-radius: 3px
      .clock
        height: 316px
        width: 316px
        margin: 0 auto
        align-self: center
        .clock-face
          height: 284px
          width: 284px
          border: 16px solid #fde8e3
          border-radius: 50%
          position: relative
          &:after
            display: block
            content: ""
            position: absolute
            top: calc(50% - 2px)
            left: calc(50% - 2px)
            height: 4px
            width: 4px
            border-radius: 50%
            background-color: #01271e
          .hand
            position: absolute
            content: ""
            background-color: #01271e
            transform-origin: 100%
            transform: rotate(90deg)
            transition: all 0.05s
            border-radius: 2px

          .hour-hand
            top: calc(50% - 2px)
            width: 80px
            height: 4px
            left: calc(50% - 80px)
            transition-timing-function: linear
          .minute-hand
            top: calc(50% - 2px)
            width: 100px
            height: 4px
            left: calc(50% - 100px)
            transition-timing-function: linear
          .second-hand
            top: calc(50% - 1px)
            width: 120px
            height: 2px
            left: calc(50% - 120px)
            transition-timing-function: cubic-bezier(0.96, 1.25, 0.08, 1.79)
