.index3
  body
    margin: 0px
    font-family: 'Playfair Display', serif
    position: relative

  input[type=range]
    -webkit-appearance: none
    width: 100%
    background: transparent

  input[type=range]::-webkit-slider-thumb
    -webkit-appearance: none

  input[type=range]:focus
    outline: none

  input[type=range]::-ms-track
    width: 100%
    cursor: pointer

    background: transparent
    border-color: transparent
    color: transparent

  /* -- THUMB --- */

  input[type=range]::-webkit-slider-thumb
    -webkit-appearance: none
    height: 8px
    width: 8px
    border-radius: 50%
    background: #e42e44
    cursor: pointer
    margin-top: -4px
    box-shadow: 1px 1px 1px rgba(88, 11, 20, 0.7), 0px 0px 1px rgba(88, 11, 20, 0.7)


  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb
    height: 8px
    width: 8px
    border-radius: 50%
    background: #e42e44
    cursor: pointer
    margin-top: -4px
    box-shadow: 1px 1px 1px rgba(88, 11, 20, 0.7), 0px 0px 1px rgba(88, 11, 20, 0.7)
    cursor: pointer


  /* All the same stuff for IE */
  input[type=range]::-ms-thumb
    height: 8px
    width: 8px
    border-radius: 50%
    background: #e42e44
    cursor: pointer
    margin-top: -1px
    border: 0px
    box-shadow: 1px 1px 1px rgba(88, 11, 20, 0.7), 0px 0px 1px rgba(88, 11, 20, 0.7)
    cursor: pointer


  /* -- TRACK -- */

  input[type=range]::-webkit-slider-runnable-track
    width: 100%
    height: 2px
    cursor: pointer
    background: #eed67c
    border-radius: 1.3px
    border: 0.2px solid #dda351


  input[type=range]:focus::-webkit-slider-runnable-track
    background: #c95620
    border-color: #c95620


  input[type=range]::-moz-range-track
    width: 100%
    height: 2px
    cursor: pointer
    background: #eed67c
    border-radius: 1.3px
    border: 0.2px solid #dda351


  input[type=range]::-ms-track
    width: 100%
    height: 2px
    cursor: pointer
    background: #eed67c
    border-radius: 1.3px
    border: 0.2px solid transparent
    border-color: white
    border-width: 6px 0
    color: transparent

  input[type=range]::-ms-fill-lower
    background: #eed67c
    border: 0.2px solid transparent

  input[type=range]:focus::-ms-fill-lower
    background: #eed67c

  input[type=range]::-ms-fill-upper
    background: #eed67c
    border: 0.2px solid transparent

  input[type=range]:focus::-ms-fill-upper
    background: #eed67c



  .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12.mdc-form-field
    label
      min-width: 100px
      font-size: 1.3em


  /* -- COLOR PICKER --*/

  input[type="color"]
  	-webkit-appearance: none
  	width: 100%
  	height: 32px
    border: none

  input[type="color"]::-webkit-color-swatch-wrapper
  	padding: 0

  input[type="color"]::-webkit-color-swatch
    border: none

  input[type="color"]
    &:focus, &:active
      outline: none

      /* -- additional styles -- */

  .mdc-layout-grid
    display: block
    position: fixed
    top: 0px
    left: 0px
    right: 0px
    background-color: rgba(255, 255, 255, 0.85)
    z-index: 2
    border-bottom: 1px solid white
    -webkit-box-shadow: 0px 3px 5px 0px rgba(56,56,56,0.5)
    -moz-box-shadow: 0px 3px 5px 0px rgba(56,56,56,0.5)
    box-shadow: 0px 3px 5px 0px rgba(56,56,56,0.5)
    opacity: 0.5
    margin-top: -150px
    transition: opacity 2s
    -webkit-transition: opacity 2s
    -moz-transition: opacity 2s
    -ms-transition: opacity 2s
    -o-transition: opacity 2s
    transition: margin 0.5s ease-out
    -webkit-transition: margin 0.5s ease-out
    &:hover
      opacity: 1
      margin-top: 0px
      transition: opacity 2s
      -webkit-transition: opacity 2s
      -moz-transition: opacity 2s
      -ms-transition: opacity 2s
      -o-transition: opacity 2s
      transition: margin 0.5s ease-in
      -webkit-transition: margin 0.5s ease-out
  .output
    float: left
    display: block
    width: 100%
    height: 1000px
    position: absolute
    top: 0px
    left: 0px
    z-index: 1

    img
      position: absolute
      top: 0px
      width: 100%
