.index4
  body
    margin: 0px
  .WRAPPER
    position: relative
    .TOP
      height: 100px
      width: 100%
      background-color: rgba(255, 255, 255, 0.6)
      position: absolute
      top: 0px
      left: 0px
      z-index: 1

      .MENU
        left: -33.3vw
        position: absolute
        top: 0px
        display: flex
        height: 100vh
        width: 33.3vw
        background-color: rgba(42, 47, 50, 0.65)
        border-right: 2px solid rgba(42, 47, 50, 0.8)
        align-items: center

        transition: left 1s linear
        .MenuToggle
          content: ""
          display: block
          height: 40px
          width: 40px
          position: absolute
          top: 0px
          right: -105px
          background-color: transparent
          border: none
          margin: 32px
          transition: right 0.3s linear
          transition-delay: 0.7s
          cursor: pointer
          &:before, &:after
            content: ""
            display: block
            position: absolute
            left: 8px
            width: 24px
            height: 2px
            border-radius: 1px
            background-color: white

            -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5)
            -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5)
            box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5)
          &:before
            top: 16px
          &:after
            bottom: 16px
          &:active, &:hover, &:focus
            outline: none
        .MenuItems
          list-style-type: none
          margin: 0px
          width: 100%
          padding: 32px
          font-family: 'Source Sans Pro', sans-serif
          text-align: center
          text-transform: uppercase
          li
            padding: 8px 0
            a
              //color: #2a2f32 to ten fajny zielony
              color: rgba(255, 255, 255, 0.9)
              text-decoration: none
              font-weight: 600
              letter-spacing: .3em
              font-size: 12px
              text-shadow: 1px 1px 2px rgb(0, 0, 0)

      .MENU.open
        left: 0vw
        transition: left 1s linear
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5)
        -moz-box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.5)
        box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.5)
        .MenuToggle
          right: 0px
          transition: right 0.3s linear
          transition-delay: 0s


    .PARALLAX
      background-image: url("../img/pineapple.jpeg")
      height: calc(100vh - 100px)
      /* Create the parallax scrolling effect */
      background-attachment: fixed
      background-position: 0px 0px
      background-repeat: no-repeat
      background-size: cover

      display: flex
      justify-content: center

      position: relative
      @media screen and (min-width: 1200px)
        background-position: 0px -100px
      &:before
        display: block
        content: ""
        position: absolute
        top: 100px
        right: 0px
        width: 0
        height: 0
        border-style: solid
        border-width: 100px 100vw 0px 0vw
        border-color: rgba(255, 255, 255, 0.6) transparent transparent transparent
      &:after
        display: block
        content: ""
        position: absolute
        bottom: 0px
        right: 0px
        width: 0
        height: 0
        border-style: solid
        border-width: 0 0 120px 100vw
        border-color: transparent transparent #ffffff transparent

      .TEXT-BOX
        align-self: center
        text-align: center

        padding: 32px 64px
        background-color: rgba(255, 255, 255, 0.6)
        outline: 1px solid rgba(255, 255, 255, 0.6)
        outline-offset: 5px
        h1
          font-family: 'Oswald', sans-serif
          text-transform: uppercase
          font-weight: 500
          margin: 0px
          line-height: 1.5
        p
          font-family: 'Open Sans', sans-serif
          margin: 0px
          line-height: 2

    .CONTENT
      height: 1000px
      position: relative
      text-align: center
      margin-top: 100px
      .ShapesContainer
        padding: 60px
        .Row
          height: 178px
          &:nth-of-type(2n)
            padding-left: 200px
          .Shape
            position: relative
            height: 98px
            width: 167px
            padding: 0 16px
            display: inline-block
            .Rectangle
              width: 171px
              height: 98px
              content: ""
              display: block
              position: absolute
              background-color: #d7b94d
            .one
              transform: rotate(60deg)
            .two
              transform: rotate(-60deg)

      p
        font-family: 'Open Sans', sans-serif
        margin: 0px
