.index2 body {
  margin: 0px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .index2 body .container {
    align-self: center;
    background-image: url(../img/floral-wallpaper1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 1000px;
    display: flex;
    margin: 0 auto;
    border: 3px solid #001e17;
    border-radius: 3px; }
    .index2 body .container .clock {
      height: 316px;
      width: 316px;
      margin: 0 auto;
      align-self: center; }
      .index2 body .container .clock .clock-face {
        height: 284px;
        width: 284px;
        border: 16px solid #fde8e3;
        border-radius: 50%;
        position: relative; }
        .index2 body .container .clock .clock-face:after {
          display: block;
          content: "";
          position: absolute;
          top: calc(50% - 2px);
          left: calc(50% - 2px);
          height: 4px;
          width: 4px;
          border-radius: 50%;
          background-color: #01271e; }
        .index2 body .container .clock .clock-face .hand {
          position: absolute;
          content: "";
          background-color: #01271e;
          transform-origin: 100%;
          transform: rotate(90deg);
          transition: all 0.05s;
          border-radius: 2px; }
        .index2 body .container .clock .clock-face .hour-hand {
          top: calc(50% - 2px);
          width: 80px;
          height: 4px;
          left: calc(50% - 80px);
          transition-timing-function: linear; }
        .index2 body .container .clock .clock-face .minute-hand {
          top: calc(50% - 2px);
          width: 100px;
          height: 4px;
          left: calc(50% - 100px);
          transition-timing-function: linear; }
        .index2 body .container .clock .clock-face .second-hand {
          top: calc(50% - 1px);
          width: 120px;
          height: 2px;
          left: calc(50% - 120px);
          transition-timing-function: cubic-bezier(0.96, 1.25, 0.08, 1.79); }

.index3 {
  /* -- THUMB --- */
  /* All the same stuff for Firefox */
  /* All the same stuff for IE */
  /* -- TRACK -- */
  /* -- COLOR PICKER --*/ }
  .index3 body {
    margin: 0px;
    font-family: 'Playfair Display', serif;
    position: relative; }
  .index3 input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent; }
  .index3 input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; }
  .index3 input[type=range]:focus {
    outline: none; }
  .index3 input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .index3 input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #e42e44;
    cursor: pointer;
    margin-top: -4px;
    box-shadow: 1px 1px 1px rgba(88, 11, 20, 0.7), 0px 0px 1px rgba(88, 11, 20, 0.7); }
  .index3 input[type=range]::-moz-range-thumb {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #e42e44;
    cursor: pointer;
    margin-top: -4px;
    box-shadow: 1px 1px 1px rgba(88, 11, 20, 0.7), 0px 0px 1px rgba(88, 11, 20, 0.7);
    cursor: pointer; }
  .index3 input[type=range]::-ms-thumb {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #e42e44;
    cursor: pointer;
    margin-top: -1px;
    border: 0px;
    box-shadow: 1px 1px 1px rgba(88, 11, 20, 0.7), 0px 0px 1px rgba(88, 11, 20, 0.7);
    cursor: pointer; }
  .index3 input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #eed67c;
    border-radius: 1.3px;
    border: 0.2px solid #dda351; }
  .index3 input[type=range]:focus::-webkit-slider-runnable-track {
    background: #c95620;
    border-color: #c95620; }
  .index3 input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #eed67c;
    border-radius: 1.3px;
    border: 0.2px solid #dda351; }
  .index3 input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #eed67c;
    border-radius: 1.3px;
    border: 0.2px solid transparent;
    border-color: white;
    border-width: 6px 0;
    color: transparent; }
  .index3 input[type=range]::-ms-fill-lower {
    background: #eed67c;
    border: 0.2px solid transparent; }
  .index3 input[type=range]:focus::-ms-fill-lower {
    background: #eed67c; }
  .index3 input[type=range]::-ms-fill-upper {
    background: #eed67c;
    border: 0.2px solid transparent; }
  .index3 input[type=range]:focus::-ms-fill-upper {
    background: #eed67c; }
  .index3 .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12.mdc-form-field label {
    min-width: 100px;
    font-size: 1.3em; }
  .index3 input[type="color"] {
    -webkit-appearance: none;
    width: 100%;
    height: 32px;
      height-border: none; }
  .index3 input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0; }
  .index3 input[type="color"]::-webkit-color-swatch {
    border: none; }
  .index3 input[type="color"]:focus, .index3 input[type="color"]:active {
    outline: none;
    /* -- additional styles -- */ }
  .index3 .mdc-layout-grid {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 2;
    border-bottom: 1px solid white;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(56, 56, 56, 0.5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(56, 56, 56, 0.5);
    box-shadow: 0px 3px 5px 0px rgba(56, 56, 56, 0.5);
    opacity: 0.5;
    margin-top: -150px;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: margin 0.5s ease-out;
    -webkit-transition: margin 0.5s ease-out; }
    .index3 .mdc-layout-grid:hover {
      opacity: 1;
      margin-top: 0px;
      transition: opacity 2s;
      -webkit-transition: opacity 2s;
      -moz-transition: opacity 2s;
      -ms-transition: opacity 2s;
      -o-transition: opacity 2s;
      transition: margin 0.5s ease-in;
      -webkit-transition: margin 0.5s ease-out; }
  .index3 .output {
    float: left;
    display: block;
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1; }
    .index3 .output img {
      position: absolute;
      top: 0px;
      width: 100%; }

.index4 body {
  margin: 0px; }

.index4 .WRAPPER {
  position: relative; }
  .index4 .WRAPPER .TOP {
    height: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1; }
    .index4 .WRAPPER .TOP .MENU {
      left: -33.3vw;
      position: absolute;
      top: 0px;
      display: flex;
      height: 100vh;
      width: 33.3vw;
      background-color: rgba(42, 47, 50, 0.65);
      border-right: 2px solid rgba(42, 47, 50, 0.8);
      align-items: center;
      transition: left 1s linear; }
      .index4 .WRAPPER .TOP .MENU .MenuToggle {
        content: "";
        display: block;
        height: 40px;
        width: 40px;
        position: absolute;
        top: 0px;
        right: -105px;
        background-color: transparent;
        border: none;
        margin: 32px;
        transition: right 0.3s linear;
        transition-delay: 0.7s;
        cursor: pointer; }
        .index4 .WRAPPER .TOP .MENU .MenuToggle:before, .index4 .WRAPPER .TOP .MENU .MenuToggle:after {
          content: "";
          display: block;
          position: absolute;
          left: 8px;
          width: 24px;
          height: 2px;
          border-radius: 1px;
          background-color: white;
          -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); }
        .index4 .WRAPPER .TOP .MENU .MenuToggle:before {
          top: 16px; }
        .index4 .WRAPPER .TOP .MENU .MenuToggle:after {
          bottom: 16px; }
        .index4 .WRAPPER .TOP .MENU .MenuToggle:active, .index4 .WRAPPER .TOP .MENU .MenuToggle:hover, .index4 .WRAPPER .TOP .MENU .MenuToggle:focus {
          outline: none; }
      .index4 .WRAPPER .TOP .MENU .MenuItems {
        list-style-type: none;
        margin: 0px;
        width: 100%;
        padding: 32px;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        text-transform: uppercase; }
        .index4 .WRAPPER .TOP .MENU .MenuItems li {
          padding: 8px 0; }
          .index4 .WRAPPER .TOP .MENU .MenuItems li a {
            color: rgba(255, 255, 255, 0.9);
            text-decoration: none;
            font-weight: 600;
            letter-spacing: .3em;
            font-size: 12px;
            text-shadow: 1px 1px 2px black; }
    .index4 .WRAPPER .TOP .MENU.open {
      left: 0vw;
      transition: left 1s linear;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5); }
      .index4 .WRAPPER .TOP .MENU.open .MenuToggle {
        right: 0px;
        transition: right 0.3s linear;
        transition-delay: 0s; }
  .index4 .WRAPPER .PARALLAX {
    background-image: url("../img/pineapple.jpeg");
    height: calc(100vh - 100px);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative; }
    @media screen and (min-width: 1200px) {
      .index4 .WRAPPER .PARALLAX {
        background-position: 0px -100px; } }
    .index4 .WRAPPER .PARALLAX:before {
      display: block;
      content: "";
      position: absolute;
      top: 100px;
      right: 0px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 100px 100vw 0px 0vw;
      border-color: rgba(255, 255, 255, 0.6) transparent transparent transparent; }
    .index4 .WRAPPER .PARALLAX:after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 120px 100vw;
      border-color: transparent transparent #ffffff transparent; }
    .index4 .WRAPPER .PARALLAX .TEXT-BOX {
      align-self: center;
      text-align: center;
      padding: 32px 64px;
      background-color: rgba(255, 255, 255, 0.6);
      outline: 1px solid rgba(255, 255, 255, 0.6);
      outline-offset: 5px; }
      .index4 .WRAPPER .PARALLAX .TEXT-BOX h1 {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0px;
        line-height: 1.5; }
      .index4 .WRAPPER .PARALLAX .TEXT-BOX p {
        font-family: 'Open Sans', sans-serif;
        margin: 0px;
        line-height: 2; }
  .index4 .WRAPPER .CONTENT {
    height: 1000px;
    position: relative;
    text-align: center;
    margin-top: 100px; }
    .index4 .WRAPPER .CONTENT .ShapesContainer {
      padding: 60px; }
      .index4 .WRAPPER .CONTENT .ShapesContainer .Row {
        height: 178px; }
        .index4 .WRAPPER .CONTENT .ShapesContainer .Row:nth-of-type(2n) {
          padding-left: 200px; }
        .index4 .WRAPPER .CONTENT .ShapesContainer .Row .Shape {
          position: relative;
          height: 98px;
          width: 167px;
          padding: 0 16px;
          display: inline-block; }
          .index4 .WRAPPER .CONTENT .ShapesContainer .Row .Shape .Rectangle {
            width: 171px;
            height: 98px;
            content: "";
            display: block;
            position: absolute;
            background-color: #d7b94d; }
          .index4 .WRAPPER .CONTENT .ShapesContainer .Row .Shape .one {
            transform: rotate(60deg); }
          .index4 .WRAPPER .CONTENT .ShapesContainer .Row .Shape .two {
            transform: rotate(-60deg); }
    .index4 .WRAPPER .CONTENT p {
      font-family: 'Open Sans', sans-serif;
      margin: 0px; }

.index1 body {
  margin: 0px;
  background-color: #f2eee2;
  color: #00c4ff;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .index1 body .Buttons {
    align-self: center;
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    .index1 body .Buttons li.key {
      background-color: #f81884;
      padding: 8px 16px;
      border-radius: 2px;
      display: inline-block;
      margin: 8px 18px;
      text-align: center;
      transition: all 0.1s; }
      .index1 body .Buttons li.key kbd {
        font-family: 'Plaster', cursive;
        color: white;
        text-transform: uppercase;
        display: block;
        clear: both;
        padding: 8px 16px;
        font-size: 24px; }
      .index1 body .Buttons li.key span {
        color: white; }
    .index1 body .Buttons li.key.playing {
      background-color: #d4096b;
      transform: scale(1.1); }

/*# sourceMappingURL=style.css.map */