doctype html
html.index1
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title The first challenge
    
    link(rel='stylesheet' href='../node_modules/material-components-web/dist/material-components-web.css')
    link(rel='stylesheet' href='css/style.css')
    link(href="http://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Plaster" rel="stylesheet")
  body
    //-img(class='background-image' src='img/floral-wallpaper1.jpg')
    .mdc-layout-grid
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          ul.Buttons
            li(data-key='65' class='key')
              kbd A
            li(data-key='83' class='key')
              kbd S
            li(data-key='68' class='key')
              kbd D
            li(data-key='70' class='key')
              kbd F
            li(data-key='71' class='key')
              kbd G
            li(data-key='72' class='key')
              kbd H
            li(data-key='74' class='key')
              kbd J
            li(data-key='75' class='key')
              kbd K
            li(data-key='76' class='key')
              kbd L  

    audio(data-key='65' src='sounds/clap.wav')
    audio(data-key='83' src='sounds/hihat.wav')
    audio(data-key='68' src='sounds/kick.wav')
    audio(data-key='70' src='sounds/openhat.wav')
    audio(data-key='71' src='sounds/boom.wav')
    audio(data-key='72' src='sounds/ride.wav')
    audio(data-key='74' src='sounds/snare.wav')
    audio(data-key='75' src='sounds/tom.wav')
    audio(data-key='76' src='sounds/tink.wav')
      
    script.
      function playSound(e) {
        const audio = document.querySelector(`audio[data-key='${e.keyCode}']`);
        const key = document.querySelector(`.key[data-key='${e.keyCode}']`);
        if(!audio) return;
        if(key.className == 'key'){ key.className += ' playing'};
        audio.currentTime = 0;
        audio.play();
      }
      
      function removeTransition(e) {
        if(e.propertyName != 'transform') return;
        this.classList.remove('playing');
        console.log(this);
      }
      
      const keys = document.querySelectorAll('.key');
      keys.forEach(key => key.addEventListener('transitionend', removeTransition));
      
      window.addEventListener('keydown', playSound);
