doctype html
html.index3
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title The third challenge
    
    link(rel='stylesheet' href='../node_modules/material-components-web/dist/material-components-web.css')
    link(rel='stylesheet' href='css/style.css')
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet")
    style.
      :root {
        --base: #e42e44;
        --spacing: 0px;
        --blur: 10px;
      }
      img {
        background: var(--base);
        padding-left: var(--spacing);
        filter: blur(var(--blur));
      }
  body
    //-img(class='background-image' src='img/floral-wallpaper1.jpg')
    .mdc-layout-grid
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
          .controls
            .mdc-layout-grid__inner
              
              .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12.mdc-form-field
                label(for='blur') Blur:
                input(class='slider' type='range' name='blur' min='0' max='25' value='10' data-sizing='px')
                            
              .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12.mdc-form-field
                label(for='spacing') Spacing:
                input(class='slider' type='range' name='spacing' min='0' max='200' value='10' data-sizing='px')
                  
              .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12.mdc-form-field
                label(for='color') Color:
                input(type='color' name='base' value='#e42e44')
                  
    .output
      img(src='img/floral-wallpaper2.jpg')
        
  script.
    const inputs = document.querySelectorAll('input');
    console.log(inputs);
      
    function handleUpdate() {
      const suffix = this.dataset.sizing || "";
      console.log(suffix);
      document.documentElement.style.setProperty(`--${this.name}`, this.value + suffix);
    }
    
    inputs.forEach(input => input.addEventListener('change', handleUpdate));
    inputs.forEach(input => input.addEventListener('mousemove', handleUpdate));
