doctype html
html.index4
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title The fourth challenge
    
    //- link(rel='stylesheet' href='../node_modules/material-components-web/dist/material-components-web.css')
    link(rel='stylesheet' href='css/style.css')
    //- link(href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
  body
    .WRAPPER
      .TOP
        //-button(class='MenuOpen' onclick='toggleMenu()' id='menuButton')
        .MENU
          button(class='MenuToggle' onclick='toggleMenu()' id='menuButton')
          ul.MenuItems
            li
              a(href='#') Lorem
            li
              a(href='#') Ipsum
            li
              a(href='#') Dolor
            li
              a(href='#') Sit
            li
              a(href='#') Amet
      .PARALLAX
        .TEXT-BOX
          h1 Lorem ipsum
          p jakis suchy zart o byciu ananasem
      .CONTENT
        p Lorem ipsum dolor sit amet
        .ShapesContainer
          .Row
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
                
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
          .Row
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
    script(src='js/ng.js')
    script.
      const menuButton = document.querySelector('#menuButton');
      
      const toggleMenu = function() {
        const menu = document.querySelector('.MENU');
        (menu.classList.contains('open'))? menu.classList.remove('open') : menu.classList.add('open');
      }
      
      //-menuButton.addEventListener('click', toggleMenu);
      
