doctype html
html.index1
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title VanillaJS
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    //-link(rel='stylesheet' href='../node_modules/material-components-web/dist/material-components-web.css')
    //-link(rel='stylesheet' href='css/style.css')
    link(href="http://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Plaster" rel="stylesheet")
  body
    script(src='js/vanilla.js')
  
